{
    "plugins": [
        [
            "prismjs",
            {
                "languages": ["javascript", "css", "cpp"],
                "plugins": ["line-numbers", "show-language", "copy-to-clipboard", "toolbar", "inline-color"]
            }
        ]
    ]
}
