@use "catppuccin";

@mixin set-color($color) {
    border-color: $color;
    background-color: color-mix(in srgb, $color, var(--main-bg-color) 80%);

    .markdown-alert-title {
        color: $color;
    }
}

.markdown-alert {
    padding: 0.5rem 1rem;
    margin: 16px 0;
    color: inherit;
    border: 2px solid #888;

    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 5px !important;
    }

    .markdown-alert-title {
        font-weight: 500;
        margin-top: 5px !important;
        margin-bottom: 10px !important;
        line-height: 1;
    }

    border-radius: var(--radius);
}

.markdown-alert.markdown-alert-note {
    @include set-color(catppuccin.$latte-blue);
}

.markdown-alert.markdown-alert-important {
    @include set-color(catppuccin.$latte-mauve);
}

.markdown-alert.markdown-alert-warning {
    @include set-color(catppuccin.$latte-peach);
}

.markdown-alert.markdown-alert-tip {
    @include set-color(catppuccin.$latte-green);
}

.markdown-alert.markdown-alert-caution {
    @include set-color(catppuccin.$latte-red);
}

.dark {
    .markdown-alert.markdown-alert-note {
        @include set-color(catppuccin.$mocha-blue);
    }

    .markdown-alert.markdown-alert-important {
        @include set-color(catppuccin.$mocha-mauve);
    }

    .markdown-alert.markdown-alert-warning {
        @include set-color(catppuccin.$mocha-peach);
    }

    .markdown-alert.markdown-alert-tip {
        @include set-color(catppuccin.$mocha-green);
    }

    .markdown-alert.markdown-alert-caution {
        @include set-color(catppuccin.$mocha-red);
    }
}
