@use "style";

#post {
    padding: 0 50px;
    position: relative;
    width: 100%;
    padding-top: 2rem;
}

.postcard {
    background-color: var(--element-bg-color);
    border: 2px solid var(--border-color);
    border-radius: var(--radius);
    height: 15rem;
    width: 100%;
    padding: 3rem;
    margin-bottom: 2rem;
    transition: transform 0.5s;

    p:not(:first-child) {
        color: var(--disabled-color);
        font-size: 1.2rem;
        position: relative;
    }
    p:not(:first-child):before {
        color: var(--disabled-color);
        position: relative;
        content: "摘要：";
    }
    p:first-child {
        font-size: 2rem;
        margin: 0;
    }
    a {
        font-size: 1.2rem;
        color: var(--logo-color);
        text-decoration: underline;
    }
    &:hover {
        transform: scale(105%);
    }
}
