@use "style";
@use "post-list";

#profile {
    margin: 15rem 0;
    text-align: center;

    #icons {
        font-family: unset;
        color: var(--logo-color);
        font-size: 2rem;
        padding: 0;

        & *:not(:last-child) {
            margin-right: 1rem;
        }
    }
}
