@media print {
    .giscus {
        display: none;
    }

    #nav-bar {
        display: none;
    }

    .table-of-contents {
        display: none;
    }

    #content {
        top: 0;
        min-height: 100%;
        left: 0;
        width: 100% !important;
        border: none;
        padding: 0 2rem;
    }

    #post-mate,
    #post-tags {
        display: none;
    }

    .header-anchor {
        display: none;
    }
}
