@use "nav-bar";
@import "https://fontsapi.zeoseven.com/292/main/result.css";
@import "https://fontsapi.zeoseven.com/442/main/result.css";
@import "https://fontsapi.zeoseven.com/285/main/result.css";

// Use font "霞鹜文楷"，"Maple Mono NF-CN"

// Use catppuccin palette

* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: #eff1f5;
    --element-bg-color: #e6e9ef;
    --text-color: #4c4f69;
    --subtext-color: #5c5f77;
    --disabled-color: #7c7f93;
    --logo-color: #7287fd;
    --line-color: #acb0be;
    --tips-color: #ccd0da;
    --selection-color: var(--line-color);
    --radius: 5px;
}

.dark {
    --main-bg-color: #1e1e2e;
    --element-bg-color: #181825;
    --text-color: #cdd6f4;
    --subtext-color: #bac2de;
    --disabled-color: #9399b2;
    --logo-color: #b4befe;
    --line-color: #585b70;
    --tips-color: #313244;
    --selection-color: var(--line-color);
}

body {
    margin: 0;

    background: {
        color: var(--main-bg-color);
        attachment: fixed;
        size: cover;
    }
}

@media (width >= 60rem) {
    #content {
        left: calc(50% - 35rem);
        width: 70rem;
    }
}

@media (width < 60rem) {
    #content {
        margin-left: 0;
        width: 100%;
    }
}

#content {
    padding: 0 10rem;
    position: relative;
}

p,
b,
h1,
h2,
h3,
h4,
h5,
h6,
li,
th,
td {
    font-family: "LXGW WenKai", sans-serif;
    color: var(--text-color);
}

pre,
code {
    font-family: "Maple Mono NF CN", monospace;
}

h6 {
    font-family: "LXGW WenKai", sans-serif;
    color: var(--subtext-color);
}

a {
    font-family: "LXGW WenKai", sans-serif;
    color: var(--logo-color);
}

::selection {
    background-color: var(--selection-color);
}
